.publications-container {
    width: 66%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .publications-container {
        flex-direction: column;
        gap: 20px;
    }
}