.articleTitle {
    font-size: 60px;
    
    color: white;
    margin-top: 50px;
    text-align: center;
}

.articleSubtitle {
    font-size: 30px;
    
    color: white;
    margin-top: 50px;
    text-align: center;
}

.tableOfContentsColumn {
    float: left;
    width: auto;
}

.hamburgerButton {
    font-size: 69px;
    
    color: white;
    left: 0;
    bottom: 0;
    padding: 20px;
    text-align: left;
    position: fixed;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.hamburgerButton:hover {
    transform: scale(1.15);
}

.articleColumn {
    width: 93%;
    float: right;
}

.articleColumnWide{
    width: 100%;
    float: right;
}

.articleContent h2 {
    font-size: 42px;
    
    color: white;
    text-align: center;
}

.articleContent p {
    font-size: 20px;
    
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}

.articleContent figcaption {
    font-size: 20px;
    
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.articleContent img {
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* center horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articleContent iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articleContent button {
    background-color: #32a852;
  border-radius: 14px;
  margin: auto;
  width: 66%;
  color: white;
  cursor: pointer;
  min-height: 65px;
  max-height: 100px;
  font-size: 20px;
  
  white-space:nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
}

.articleContent button:hover {
    background-color: #36d661;
}

.tableOfContents {
    position: fixed;
    font-size: 26px;
    
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-left: -20px;
}

.tableOfContentsColumn li {
    margin-bottom: 20px;
}

.tableOfContentsColumn li:hover {
    font-weight: bold;
}


a:link {
    text-decoration: none !important;
}

.spacer {
    padding: 1px;    
}

.github {
    max-width: 75px;
    top: 25px;
    right: 25px;
    position: fixed;
    cursor: pointer;
}

.github:hover {
    transform: scale(1.15);
}