.title {
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 66%;

    text-align: center;
    margin-left: 17%;
    margin-right: 17%;


}