.widget {
    background-color: #212121;
    border-radius: 14px;
    font-size: 30px;
    margin: auto;
    width: 66%;
    color: white;
    cursor: pointer;
    min-height: 175px;
    margin-bottom: 25px;
}

.widget:hover {
    background-color: #2d2d2d;
}

.text-box {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.widget-title {
    font-size: 30px;
    position: relative;
    top: 10px;
}

.widget-subtitle {
    font-size: 20px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.text-col {
    width: 67%;
    padding-left: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.image-col {
    width: 33%;
    display: flex;
}

.image {
    margin: auto;
    max-height: 150px;
    max-width: 150px;
    border-radius: 8px;
    position: relative;   
}

.link {
    text-decoration: none;
}

.peeking-image {
    max-height: 35px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.peeking-images {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    transition: transform 0.2s ease;
}

.peeking-image:hover {
    transform: scale(1.15);
  }

.peek-widget {
    width: 66%;
    margin: auto;
}

.peek-widget-inner:hover {
    background-color: #2d2d2d;
}

.peek-widget-inner {
    background-color: #212121;
    border-radius: 14px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    min-height: 175px;
    margin-bottom: 25px;
}

