body {
  background-color: black;
}

.button {
  background-color: #32a852;
  border-radius: 14px;
  font-size: 30px;
  margin: auto;
  width: 66%;
  color: white;
  cursor: pointer;
  min-height: 65px;
  max-height: 100px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  white-space:nowrap;
  display: flex;
}

.button:hover {
  background-color: #36d661;
}