body {
  background-color: black;
}

.button {
  background-color: #32a852;
  border-radius: 14px;
  margin: auto;
  width: 66%;
  color: white;
  cursor: pointer;
  min-height: 65px;
  max-height: 100px;
  font-size: 20px;
  font-family: 'Courier New', monospace;
  white-space:nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
}

.button-small {
  background-color: #32a852;
  border-radius: 14px;
  margin: auto;
  width: 66%;
  color: white;
  cursor: pointer;
  min-height: 45px;
  max-height: 80px;
  font-size: 15px;
  font-family: 'Courier New', monospace;
  white-space:nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-small:hover {
  background-color: #36d661;
}

.button-neutral {
  background-color: #212121;
}

.button-neutral:hover {
  background-color: #32a852;
}

.button p {
  text-decoration: none;
}

.button:hover {
  background-color: #36d661;
}
